body {
  font-family: $font;
  font-size: $font-size;
  background: #eaeaea url('../images/bg.png');
  color: $fore-color;
  line-height: 1.5;
  padding: 0 20px;
  margin: 0 auto;
}

.book-container {
  width: 530px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
  h3 {
    line-height: 40px;
    margin-bottom: 0;
    color: #999;
  }
}

.content {
  padding: 30px;
  margin-bottom: 30px;
  font-weight: 200;
  color: $fore-color;
  width: 330px;
  margin: 0 auto 30px;
  form div {
    padding-bottom: 3px
  }
}

input[type=submit] {
  &:hover {
    cursor: pointer;
  }
}

input.error {
  border: 1px dashed red;
}

label.error {
  color: red;
  font-style: italic;
}

.footer {
  padding-top: 20px;
  color: #777;
  border-top: 1px solid $border-color;
}

.control-group {
  width: 250px;
  margin: 0 auto;
  .control-label {
    font-size: 14px;
  }
  .controls {
    input {
      width: 230px;
      line-height: 20px;
      border-radius: 5px;
      color: $fore-color;
      border: 1px solid $border-color;
      padding: 5px;
    }
    .submit {
      margin-top: 20px;
      width: 245px;
    }
  }
}